block content
  h1  Crae Sosa
  section.css-table
    section.one-column
      section.cell
        h3 BIO
        p My name is Crae Sosa.  I'm a first generation Mexican American, half and half (also my rapper name).  I went to Bard High school early college but I'm graduating a little late.  I'm also handsome in the right lighting, it's more noticible in say, a dark movie theatre.  My current interests are to pursue a career in computer science and hopefully to meet a penguin.  I want to ultimately work in mobile dev, but I also would like to develop my web-server skills seeing as though most apps are completely dependent on web-services.  Oh yes, I love arrested development, it's by far the best show ever created.

        p But, being serious, a lot of people ask me why I wasted my time with chemical engineering if it's something I didn't want to pursue.  Well, I did at one point, and I do like it, but I don't love it.  And had it not been for chem-e, I never would have found my true passion for computer science.  My dream is to do something I love to do...which I know is comp sci, and in this way, never have to work a day in my life.
